@page
@model PainelSocioTorcedores.Pages.SocioTorcedorModel
@{
    ViewData["Title"] = "Quadro de Sócios";
}
<h2>@ViewData["Title"]</h2>

<table>
    <thead>
        <tr>
            <th> Nome </th>
            <th> Categoria </th>
            <th> Idade </th>
            <th> Mensalidade </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var socios in Model.Socios){
            <tr>
                <td>
                    @if (socios.Categoria == "Ouro")
                    {
                        <strong>@socios.Nome</strong>
                    }
                    else
                    {
                        @socios.Nome
                    }
                </td>
                <td>@socios.Categoria</td>
                <td>@socios.Idade</td>
                <td>@socios.Mensalidade.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>